<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Complaint
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="fixed">Ward</ion-label>
      <ion-input>{{complaint.ward.name}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Title</ion-label>
      <ion-input>{{complaint.title}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Address</ion-label>
      <ion-input>{{complaint.address}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Description</ion-label>
      <ion-input>{{complaint.content}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Mobile No.</ion-label>
      <ion-input>{{complaint.mobile_no}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Status</ion-label>
      <ion-input>{{complaint.status}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-img expand="block" [src]="complaint.location_pic"></ion-img>
    </ion-item>
    <div padding>
      <ion-button size="large" expand="block">Change Status</ion-button>
    </div>
  </ion-list>
</ion-content>