<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{languageService.langVariables.complaint}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/complaints"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="fixed">{{languageService.langVariables.sub_ward}}</ion-label>
      <ion-input>{{complaint.sub_ward.name}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">{{languageService.langVariables.ward}}</ion-label>
      <ion-input>{{complaint.sub_ward.ward.name}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">{{languageService.langVariables.title}}</ion-label>
      <ion-input>{{complaint.title}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">{{languageService.langVariables.address}}</ion-label>
      <ion-input>{{complaint.address}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">{{languageService.langVariables.description}}</ion-label>
      <ion-input>{{complaint.content}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">{{languageService.langVariables.mobile_no}}</ion-label>
      <ion-input>{{complaint.mobile_no}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">{{languageService.langVariables.status}}</ion-label>
      <ion-input>{{complaint.status}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-img expand="block" [src]="complaint.location_picture"></ion-img>
    </ion-item>
    <br>
    <ion-item>
      <div style="height: 400px;width: 100%" id="map_canvas"> </div>
    </ion-item>
    <div padding>
      <ion-button size="large" expand="block" (click)="inprogress()"
        *ngIf="user.group == 'ADMIN' || user.group == 'SUPERVISOR'">{{languageService.langVariables.inprogress}}
      </ion-button>
      <ion-button size="large" expand="block" (click)="gotoResolve()"
        *ngIf="user.group == 'ADMIN' || user.group == 'SUPERVISOR'">Change Status</ion-button>
    </div>
  </ion-list>
</ion-content>