<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{languageService.langVariables.complaint}}
    </ion-title>
    <ion-buttons (click)="getComplaints()" slot="end">
      <ion-icon style="font-size: 1.5em;" name="refresh"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="complaints?.length < 1">
    <ion-label>{{languageService.langVariables.no_record_found}}</ion-label>
  </ion-item>
  <div *ngIf="complaints.length > 0">
    <ion-card *ngFor="let complaint of complaints" [ngClass]="(complaint.status_id==3) ? 'new-complaint': (complaint.status_id==1) ? 'completed-complaint': (complaint.status_id==4) ? 'inprogress-complaint': 'rejected-complaint'">
      <ion-card-header>
        <ion-card-subtitle>
          {{complaint.user.first_name}} {{complaint.user.mobile_no}}
        </ion-card-subtitle>
        <ion-card-title>
          {{complaint.title}}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{complaint.content}}
        <br>
        {{complaint.created | date:'fullDate'}}
      </ion-card-content>
      <ion-item>
        <ion-label>{{complaint.sub_ward.name}}, {{complaint.sub_ward.ward.name}},  {{complaint.sub_ward.ward.city.name}}</ion-label>
        <ion-button fill="outline" slot="end" (click)="viewComplaint(complaint)">View</ion-button>
      </ion-item>
    </ion-card>
  </div>

</ion-content>