<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Complaints</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="new-complaint">
    <ion-card-header>
      <ion-card-subtitle>
        Rahul 9422979099
      </ion-card-subtitle>
      <ion-card-title>
        Collect Garbage
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Ward 1, Nagpur</ion-label>
      <ion-button fill="outline" slot="end" (click)="viewComplaint()">View</ion-button>
    </ion-item>
  </ion-card>

</ion-content>
