<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{languageService.langVariables.register_complaint}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/complaints"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="registerEnquiry(form)">
    <ion-list>
      <ion-item>
        <ion-label>{{languageService.langVariables.select_ward}}</ion-label>
        <ion-select ngModel (ionChange)="getSubWards($event)" name="ward_id" value="brown" okText="Okay" cancelText="Dismiss" required>
          <ion-select-option name="ward_id" *ngFor="let ward of wards" [value]="ward.id">{{ward.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>{{languageService.langVariables.select_sub_ward}}</ion-label>
        <ion-select ngModel name="sub_ward_id" value="brown" okText="Okay" cancelText="Dismiss" required>
          <ion-select-option name="sub_ward_id" *ngFor="let ward of subWards" [value]="ward.id">{{ward.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{languageService.langVariables.title}}</ion-label>
        <ion-input ngModel type="text" name="title" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{languageService.langVariables.address}}</ion-label>
        <ion-textarea ngModel name="address" required></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{languageService.langVariables.description}}</ion-label>
        <ion-textarea ngModel name="content" required></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{languageService.langVariables.mobile_no}}</ion-label>
        <ion-input ngModel type="text" name="mobile_no" pattern="^(\+91[\-\s]?)?[0]?[1789]\d{9}$" required></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <ion-img expand="block" [src]="this.base64Image"></ion-img>
      <ion-button size="large" (click)="capturePhoto(form)" expand="block">Select Photo</ion-button>
      <ion-button size="large" [disabled]="form.invalid" expand="block" type="submit">Submit</ion-button>
    </div>
  </form>
</ion-content>