<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Register Complaint</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Select Ward</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="brown">Ward 1</ion-select-option>
        <ion-select-option value="blonde">Ward 2</ion-select-option>
        <ion-select-option value="black">Waed 3</ion-select-option>
        <ion-select-option value="red">Waed 4</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input type="number" value="333"></ion-input>
    </ion-item>
  </ion-list>
    <ion-img src="assets/img/200.png" class="image"></ion-img>
  <ion-button color="primary">Take Photo</ion-button>
  <ion-button color="medium">Complaint</ion-button>
</ion-content>

