<ion-content color="primary" padding>
  <form #form="ngForm">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Forgot Password</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="mobile_no" type="text" placeholder="Mobile Number" ngModel required pattern="^(\+91[\-\s]?)?[0]?[1789]\d{9}$" title="Enter correct mobile number" value=""></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="otp" type="text" placeholder="Enter OTP" ngModel required value=""></ion-input><ion-button expand="block" (click)="getOTP(form)">Get OTP</ion-button>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="confirm_password" type="password" placeholder="Confirm Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" (click)="forgotPassword(form)" expand="block">Submit</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>